/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; 
font-family: 'Roboto', sans-serif;
*/

*
{
    margin: 0;
    padding: 0;
}
                                                    /* SEKCJA NAWIGACJA HEADER */
.page1 nav 
{
    max-width: 1440px;
    margin: 15px auto;
    text-align: right;
}                                         
.page1 nav a 
{
   
    font-size: 22px; 
    text-decoration: none; 
    display: inline-block; 
    color: black; 
    font-family: 'Roboto', sans-serif; 
    padding: 10px; 
    margin: 0 30px; 
    border-bottom: 1px solid transparent;
}
.page1 nav a:hover
{
    border-bottom: 1px solid black;
  
}

                                                    /* SEKCJA HEADER  */
body.page1
{
    background-color: #f2f1ed; 
}
.page1 header 
{
    height:540px;
    background-color:rgb(255,88,81);

}                    
.page1 header h1
{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: normal;
    
}         
.page1 header h2
{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    font-weight: bold;
}     
.page1 header p
{
    padding-top: 30px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;

}            
.page1 header img
{
    width: 500px;
    height: 400px;
    float: right;
    margin-top: -220px;
    
}
                                                     /* SEKCJA MAIN */
.page1 main 
{
    max-width: 1440px;
}
.page1 main h2.tech
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}
.page1 main p.description
{
    font-size: 20px;
    text-align: center;
    margin: 30px 30px 50px 30px;
    padding-bottom: 30px;
}
                                                        /* SEKCJA PROJEKTY */

.page1 main div.project
{
    display: inline-block;                          /* USTAWIA MOJE KONTENERY POZIOMO W LINI */
    width: 33%;                                     /* SZER. 1 KONTENERA 33% */
}      
.page1 main h2
{
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
}           
.page1 main div.img
{
    height: 250px;
    background-color: burlywood;
    margin: 20px 30px;
}                                   


                                                /* SEKCJA STOPKA FOOTER */

.page1 footer 
{

    color: black;
    text-align: center;
    font-size: 10px;
    height: 20px;
}                                      

                                                /* SEKCJA STRONA ABOUTME */

 body.page2
 {
    background-color: #f2f1ed;
 }                                               
div.wrapper
{
    max-width: 1440px;
    margin: 0 auto;
}

.page2 hr
{
    width: 40%;
    margin-left: 430px;
    margin-right: 450px;
    border-top-width: 1px;
}
.page2 header h1
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.page2 header
{
    height: 380px;
    background-color: #f2f1ed;
}    
.page2 img.headerpic
{
    margin-top: 60px;
    margin-left: 580px;
    width: 250px; 
    height: 200px;
}                 
.page2 main 
{
   min-width: 500px;
   height: 320px;

}
.page2 main p.aboutmetext
{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Saira Condensed', sans-serif; 
    padding-right: 100px;
    padding-left: 100px;
    
}
.page2 main h1
{
    text-align: center;
    font-size: 20px;
    font-weight: normal;

}
.page2 main h2.aboutmeinfo1
{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;

}
.page2 main p.aboutmeinfo2
{
    padding-top: 10px;
    text-align: center;
    font-size: 14px;

}
.page2 footer.aboutmefooter
{
    color: black;
    text-align: center;
    font-size: 10px;
    height: 20px;
}