/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; 
font-family: 'Roboto', sans-serif;
*/

*
{
    margin: 0;
    padding: 0;
}
                                                    /* SEKCJA NAWIGACJA HEADER */
nav 
{
    max-width: 1440px;
    margin: 15px auto;
    text-align: right;

}                                         
nav a 
{
   
    font-size: 22px; 
    text-decoration: none; 
    display: inline-block; 
    color: black; 
    font-family: 'Roboto', sans-serif; 
    padding: 10px; 
    margin: 0 30px; 
    border-bottom: 1px solid transparent;
}
nav a:hover
{
    border-bottom: 1px solid black;
  
}

                                                    /* SEKCJA HEADER  */
body.mainpage
{
    background-color: #f2f1ed; 
}
header 
{
    height:540px;
    background-color:rgb(255,88,81);

}                    
header h1
{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: normal;
    
}         
header h2
{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    font-weight: bold;
}     
header p
{
    padding-top: 30px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;

}            
header img
{
    width: 500px;
    height: 400px;
    float: right;
    margin-top: -220px;
    
}
                                                     /* SEKCJA MAIN */
main 
{
    max-width: 1440px;
}
main h2.tech
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}
main p.description
{
    font-size: 20px;
    text-align: center;
    margin: 30px 30px 50px 30px;
    padding-bottom: 30px;
}
                                                        /* SEKCJA PROJEKTY */

main div.project
{
    display: inline-block;                          /* USTAWIA MOJE KONTENERY POZIOMO W LINI */
    width: 33%;                                     /* SZER. 1 KONTENERA 33% */
}      
main h2
{
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
}           
main div.img
{
    height: 250px;
    background-color: burlywood;
    margin: 20px 30px;
}                                   


                                                /* SEKCJA STOPKA FOOTER */

footer 
{

    color: black;
    text-align: center;
    font-size: 10px;
    height: 20px;
}                                      

                                                /* SEKCJA STRONA ABOUTME */

 body.aboutme
 {
    background-color: #f2f1ed;
 }                                               
div.wrapper
{
    max-width: 1440px;
    margin: 0 auto;
}

.aboutme hr
{

    width: 40%;
    margin-left: 430px;
    margin-right: 450px;
    border-top-width: 1px;
}
.aboutme header h1
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.aboutme header
{
    height: 380px;
    background-color: #f2f1ed;
}    
header img.headerpic
{
    margin-top: 60px;
    margin-right: 580px;
    width: 250px; 
    height: 200px;
}                 
.aboutme main 
{
   min-width: 500px;
   height: 300px;

}
main p.aboutmetext
{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Saira Condensed', sans-serif; 
    word-wrap: break-word;
    
}
main h1
{
    text-align: center;
    font-size: 20px;
    font-weight: normal;

}
main h2.aboutmeinfo1
{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;

}
main p.aboutmeinfo2
{
    padding-top: 10px;
    text-align: center;
    font-size: 14px;

}
.aboutme footer.aboutmefooter
{
    color: black;
    text-align: center;
    font-size: 10px;
    height: 20px;
}